.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fefefe; 
  font-family: 'Inter', sans-serif; 

  &_image {
    width: 350px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2rem;
    color: #2d3748;
  }

  p {
    color: #718096;
    margin-bottom: 24px;
  }

  .button {
    padding: 10px 20px;
    background-color: #3182ce;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}